@model Arma3Event.Entities.User

@{
    ViewData["Title"] = "Modifier un utilisateur";
}

@section NavBar  {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteamId" class="control-label"></label>
                <input asp-for="SteamId" class="form-control" />
                <span asp-validation-for="SteamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteamName" class="control-label"></label>
                <input asp-for="SteamName" class="form-control" />
                <span asp-validation-for="SteamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivacyOptions" class="control-label"></label>
                <select asp-for="PrivacyOptions" asp-items="Html.GetEnumSelectList<Arma3Event.Entities.UserPrivacyOptions>()" class="form-control"></select>
                <span asp-validation-for="PrivacyOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
