@model Arma3Event.Models.GeneratePasswordViewModel

@{
    ViewData["Title"] = "Définir un mot de passe";
}

@section NavBar  {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Utilisateurs</a></li>
            <li class="breadcrumb-item"><a asp-action="Details" asp-route-id="@Model.User.UserID">@Model.User.Name</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<div class="row">
    <div class="col-md-4">
        <form asp-action="GeneratePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="User.UserID" type="hidden" />
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratedPassword" class="control-label"></label>
                <input asp-for="GeneratedPassword" class="form-control" readonly="readonly" />
                <span asp-validation-for="GeneratedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Définir le mot de passe" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

