/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&display=swap');

body {
    font-family: 'roboto';
}
h1, h2, h3, h4, h5 {
    font-family: 'Black Ops One', cursive;
}

.accordion h5 {
    font-family: 'roboto';
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #f0f0f0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

img.factionflag {
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    height:1.5em;
}


select option {
    font-family: Arial;
}

select option:disabled {
    color: #c0c0c0;
}

div.title {
    background-image: url(/img/banner.jpg);
    background-position: 50% 50%;
    background-size: cover;
    margin-top: -1em;
    margin-bottom: 1em;
    padding-top: 6rem;
    position:relative;
}

main div.title {
    background-image: url(http://game.pmad.net/img/banner/opex.jpg);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-right: -1em;
    padding-top: 0;
}

    main div.title.players {
        background-image: url(http://game.pmad.net/img/banner/vab.jpg);
    }

div.title h1, div.title h2, div.title h3 {
    padding: 2em 1em;
    margin: 0;
    text-align: center;
    font-weight:normal;
}

div.title h1 span, div.title h2 span, div.title h3 span {
    color: white;
    text-shadow: 3px 3px 8px black;
    font-weight: bold;
}

div.title p {
    margin-bottom: -4.3em;
    padding-top: 4em;
    text-align: center;
    font-size: 120%;
}

div.title p span {
    color: white;
    text-shadow: 3px 3px 8px black;
}

main div.title p {
    margin-bottom: -4.2em;
    font-size: 100%;
    text-align: center;
}

main.home {
    background-color: #e2e2dc;
}


img.mil-icon {
    background: rgb(233, 236, 239);
    padding: 2px 4px;
}

.text-marker-content {
    height: 32px;
    width: max-content;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    /*text-shadow: 1px 1px 2px white;*/
}

.leaflet-container a.btn-secondary{
    color:white;
    cursor:pointer;
}
.leaflet-container.mainmap {
    background-color: rgb(50, 56, 62);
}

.indicators {
    position: relative;
    top:-80px;
}

    .indicators > div {
        position: absolute;
    }

.clockindicator {
    width: 170px;
    height: 52px;
    padding: 0px;
    text-align: center;
    left: 0px;

    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height:1;
}
    .clockindicator .header {
        font-size: 12px;
    }
    .clockindicator .clock {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 26px;
        color:red;
    }

.countdownindicator {
    width: 170px;
    height: 52px;
    padding: 0px;
    text-align: center;
    left: 180px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 1;
}

    .countdownindicator .header {
        font-size: 12px;
    }

    .countdownindicator .clock {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 26px;
    }

.matchindicator {
    width: 300px;
    right: 0px;
    height: 52px;
}

    .matchindicator .num {
        padding: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        line-height: 1.2;
        font-size: 22px;
    }

    .matchindicator .num span {
        font-size: 10px;
    }

        .matchindicator .num.num-0 {
            background: green;
        }
        .matchindicator .num.num-1 {
            background: yellow;
            color: black;
        }
        .matchindicator .num.num-2 {
            background: red;
        }
        .matchindicator .num.num-3 {
            background: black;
        }

    .matchindicator .desc {
        padding: 2px 5px;
        font-size: 14px;
        background: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }

        .matchindicator .desc.desc-0 {
            background: rgba(0,64,0,0.7);
        }

        .matchindicator .desc.desc-1 {
            background: rgba(64,64,0,0.7);
        }

        .matchindicator .desc.desc-2 {
            background: rgba(64,0,0,0.7);
        }

        .matchindicator .desc.desc-3 {
            background: rgba(0,0,0,0.7);
        }
