@model Arma3Event.Models.EventDetailsViewModel

<div class="alert alert-warning" role="alert">
    <h4>Cette page concerne une mission passée</h4>
    <p>Elle est conservée à titre d'archive.</p>
    <p><a asp-controller="Home" asp-action="Index" class="btn btn-warning">Aller à la page d'acceuil</a>
       <a asp-controller="Events" asp-action="NextMatch" class="btn btn-warning"><i class="fas fa-arrow-circle-right"></i> Voir la prochaine mission</a></p>
</div>