@{
    ViewData["Title"] = "Mentions légales";
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
}

<a class="github-fork-ribbon" href="https://github.com/jetelain/Arma3Event" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>


@if (System.IO.File.Exists("wwwroot/help/legal.html"))
{
    @Html.Raw(System.IO.File.ReadAllText("wwwroot/help/legal.html"))
}
else
{
    <p class="alert alert-danger">Configuration incomplète. Vous devez renseigner les informations légales dans le fichier legal.html.</p>
}

<h2>Cookies</h2>
<ul>
    <li>Ce site utilise uniquement des cookies techniques nécessaires à l'authentification des utilisateurs connectés et à la sécurisation de la saisie dans les formulaires.</li>
    <li>Ces cookies techniques sont uniquement pésent si vous vous êtes authentifiés. Ils sont supprimés lors de la déconnection, ou au bout d'au maximum 2 semaines.</li>
    <li>
        Vous pouvez refuser ces cookies via la configuration de votre navigateur, merci de vous référer à la documentation fourni par son éditeur. Il ne nous sera cependant
        pas possible d'utiliser certaines fonctionnalités.
    </li>
</ul>

<dl>
    <dt>
        <code>.AspNetCore.Cookies</code>
    </dt>
    <dd>
        Identité de l'utilisateur, suite à la connection avec Steam. Conservé jusqu'a la déconnection, dans une limite de 2 semaines.
    </dd>
    <dt>
        <code>.AspNetCore.Antiforgery.(valeur aléatoire)</code>
    </dt>
    <dd>
        Sécurisation de la saisie dans les formulaires. Conservé jusqu'a la fermeture de l'onglet du navigateur.
    </dd>
</dl>

<h2>Licences et notices de droits d'auteur</h2>
<p>Logiciel, images, et feuille de style sous licence MIT, à l'exception des logiciels et contenus de tierce partie listés ci-dessous.</p>

<h3>Contenu</h3>
<p>Fonds de carte, iconographie, captures d'écrans, artworks Arma 3 sous licence <a href="https://www.bohemia.net/community/licenses/arma-public-license" target="_blank">Arma Public Licence (APL)</a>. &copy; Bohemia Interactive.</p>
<p>Fond de carte et captures d'écrans Taunus sous licence <a href="https://www.bohemia.net/community/licenses/arma-public-license" target="_blank">Arma Public Licence (APL)</a>. &copy; X-CAM-Taunus Team.</p>

<h3>Site web</h3>
<p>Logiciel <a href="https://getbootstrap.com/">Bootstrap</a> sous licence MIT.</p>
<p>Icones <a href="https://fontawesome.com/">Font Awesome</a> sous licence <a href="https://fontawesome.com/license/free">SIL Open Font License (OFL)</a>. &copy; Fonticons, Inc.</p>

<h3>Carte partagée, carte de situation</h3>
<p>Logiciel <a href="https://github.com/Leaflet/Leaflet">Leaflet</a> sous licence BSD.</p>
<p>Logiciel <a href="https://github.com/spatialillusions/milsymbol/">milsymbol</a> sous licence MIT.</p>
<p>Logiciel <a href="https://github.com/spatialillusions/milstd">milstd</a> sous licence MIT.</p>
<p>Logiciel <a href="https://github.com/snapappointments/bootstrap-select">bootstrap-select</a> sous licence MIT.</p>